machine:
    network:
        kubespan:
            enabled: false # Enable the KubeSpan feature.
cluster:
    discovery:
        enabled: false
        # Configure registries used for cluster member discovery.
        registries:
            kubernetes: # Kubernetes registry is problematic with KubeSpan, if the control plane endpoint is routeable itself via KubeSpan.
              disabled: true
