hcloud_token = ""

cloudflare_api_token = ""
cloudflare_zone_id   = ""

tailnet                     = ""
tailnet_oauth_client_id     = ""
tailnet_oauth_client_secret = ""

oci_talos_image_oci_bucket_url = ""
oci_tenancy_ocid     = ""
oci_user_ocid        = ""
oci_region           = ""
oci_fingerprint      = ""
oci_compartment_ocid = ""
oci_private_key_path = ""
